.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #e2e2ea;
  height: 65px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main-content";
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
  background: #282842;
  box-shadow: inset -1px 0px 0px #e2e2ea;
}

.main-content {
  grid-area: main-content;
  padding: 20px;
}

.side-menu-list .side-menu-list-item {
  text-decoration: none;
  color: white;
}
